h1 {
  font-family: Covered By Your Grace;
}

#img {
  text-align: center;
}

#img > img {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  border: 2px solid blue;
}

p {
font-family: Anton;
text-align: center;
}

form {
  text-align: center;
}

.hide {
  display: none;
}

#begin {
  display: none;
}
